#cig-gallery {
	display: flex;
	flex-wrap: wrap;

	.cig-image {
		width: 80px;
		margin: 5px;
	}
}

.cig-modal {
	display: none;
	width: 50vw;
}

.cig-modal-int {
	display: grid;
	grid-template-columns: 1fr 2fr;
	//justify-content: space-between;
}

.cig-modal-image {
	//flex-grow: 1;
	width: 220px;
}
.cig-modal-comment {
	//flex-grow: 2;
	//text-align: right;
}
