#cig-gallery-wrapper {
	display: none;
}

#cig-gallery {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
	//justify-content: space-around;

	.cig-image {
		width: 150px;
		margin-right: 5px;
	}
	//.cig-image:last-of-type {
	//	margin-right: 0;
	//}
}

.cig-modal {
	display: none;
	width: 60vw;
}

.cig-modal-int {
	display: grid;
	grid-template-columns: 5fr 3fr;
	//justify-content: space-between;
}

.cig-modal-image {
	//flex-grow: 1;
	//width: 500px;
}
.cig-modal-comment {

	padding: 0 1rem;

	p {
		font-weight: bold;
		text-decoration: underline;
	}
}

.featherlight-gallery2 {
	background: rgba(100,100,100,0.5);
}
.featherlight-gallery2 .featherlight-content {
	background: #fff;
}
.featherlight-gallery2 .featherlight-next:hover,
.featherlight-gallery2 .featherlight-previous:hover {
	//background: rgba(0,0,0,0.5);
	background: transparent;
}
.featherlight-gallery2 .featherlight-next:hover span,
.featherlight-gallery2 .featherlight-previous:hover span {
	font-size: 25px;
	line-height: 25px;
	margin-top: -12.5px;
	color: #074c68;
	padding: .5em;
	border: 2px solid black;
	border-radius: 25px;
}
.featherlight-gallery2  .featherlight-close {
	background: transparent;
	color: #fff;
	font-size: 1.2em;
}
.featherlight-gallery2.featherlight-last-slide .featherlight-next,
.featherlight-gallery2.featherlight-first-slide .featherlight-previous {
	display: none;
}

@media screen and ( max-width: 1025px ) {
	.cig-modal {
		width: 80vw;
	}
}
