#cig-gallery {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
	//justify-content: space-around;

	.cig-image {
		width: 150px;
		margin-right: 5px;
	}
	//.cig-image:last-of-type {
	//	margin-right: 0;
	//}
}

.cig-modal {
	display: none;
	width: 60vw;
}

.cig-modal-int {
	display: grid;
	grid-template-columns: 5fr 3fr;
	//justify-content: space-between;
}

.cig-modal-image {
	//flex-grow: 1;
	//width: 500px;
}
.cig-modal-comment {

	padding: 0 1rem;

	p {
		font-weight: bold;
		text-decoration: underline;
	}
}

@media screen and ( max-width: 1025px ) {
	.cig-modal {
		width: 80vw;
	}
}
